.contenedorDetalle{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: auto;
    max-width: 50%;
    padding: 2%;
    max-width: 30%;
}